/* color-black: #272A31
color-orange: #EC5242;
color-grey: #D3D3D3; */

body {
  font-family: "Lato", sans-serif;
}

header {
  margin-bottom: 10%;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul > li:last-child > i {
  font-size: 50px;
}

#header-nav-plus-content {
  padding: 0 5%;
}

#header-content {
  padding-top: 10%;
}

#hero-area-bg-img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.2;
  left: 0;
  top: 0;
  z-index: -1;
}

.orange-color {
  color: #ec5242;
}

.black-color {
  color: #272a31;
}

.grey-color {
  color: #d3d3d3;
}

header h1 {
  font-weight: 1000;
}

#header-nav-plus-content p {
  border: 2px solid white;
  padding: 20px;
}

#main-program {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

#main-program h2 {
  color: white;
  font-weight: 700;
  margin-top: 3%;
}

.short-orange-hr {
  width: 20%;
  height: 3px;
  background-color: #ec5242;
}

#main-program ul {
  display: flex;
  flex-direction: column;
}

#main-program ul > li {
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

#main-program ul > li > * {
  padding: 10px;
}

#main-program ul > li > p {
  color: white;
}

#html {
  margin-left: 7%;
}

#css {
  margin-left: 11%;
}

#javascript {
  margin-left: 2.5%;
}

#back-end {
  margin-left: 7%;
}

#hr-wrapper {
  display: flex;
  justify-content: center;
}

#hr-wrapper hr {
  width: 5%;
  height: 3px;
  background-color: #ec5242;
}

#main-program ul > li > img {
  width: 70px;
  height: 70px;
}

#main-program button {
  width: 60%;
  height: 90px;
  background-color: #ec5242;
  color: white;
  border: 0;
  margin: 5%;
}

#featured-speakers {
  padding-top: 10%;
}

#featured-speakers ul > li {
  display: flex;
}

#featured-speakers ul > li > img {
  height: 150px;
  width: 150px;
}

#featured-speakers ul > li > * {
  padding: 2%;
}

.bold {
  font-weight: bold;
}

.speaker-hr {
  width: 10%;
}

#more-button-wrapper {
  display: flex;
  justify-content: center;
}

#featured-speakers button {
  width: 70%;
  height: 60px;
  border: 1px solid grey;
  font-weight: bold;
  margin-bottom: 40px;
  background-color: white;
}
